---
layout: default
---
<div class="jumbotron">
  <div class="container">
  {{ content }}
  </div>
</div>

<footer role="contentinfo" class="page-footer">
  <ul class="site-footer-links right">
    <li><a href="/support">Support</a></li>
  </ul>

  <a href="/">
    <span class="mega-octicon octicon-globe"></span>
  </a>

  <ul class="site-footer-links">
    <li>© 2014-2015 <span>errpro</span></li>
    <!--
    <li><a href="terms.html">Terms</a></li>
    <li><a href="privacy.html">Privacy</a></li>
    <li><a href="security.html">Security</a></li>
    <li><a href="contact.html">Contact</a></li>
    -->
  </ul>
</footer>

<script src="moxile_files/analytics.js" async=""></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/application.js"></script>

